.page-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.top-page{
  display: flex;
  align-self: center;
  margin-right: 15px;

}
.message-container{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  .message{
    width: 250px;
    border: 2px solid rgb(248, 98, 109) ;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
.temoignage-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
  .temoignage{
    width: 250px;
    margin: 10px;
    border: 2px solid rgb(248, 98, 109) ;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  font-family: 'Amatic SC';
  width: 100%;
  font-size: 1.1em;
  align-items: flex-end;
  box-shadow: 1px 1px 1px black;
  .title{
    display: flex;
    width: 20%;
    font-size: 20px;
    align-items: center;
    margin: auto;
    margin-left: 10%;

    }
}
