<div class="navbar">
  <div class="title">
    <p>Wild Circus</p>
  </div>
    <div class="top-page">
      <button (click)="logOut()">Déconnexion</button>
    </div>
</div>
<div class="page-container">

  <h3>Messages reçus:</h3>
  <div class="message-container">
    <div *ngFor="let message of messages" class="message">
      Mail :
    <a href="mailto:{{message.email}} ">{{message.email}}</a>
      Message :
      <p>{{message.content}}</p>
      <button (click)="deleteMessage(message.id)">Effacer</button>
    </div>
  </div>

  <h3>Témoignages:</h3>
  <div class="temoignage-container">
    <div *ngFor="let temoignage of temoignages" class="temoignage">
      Numéro d'utilisateur:
      <p>{{temoignage.user_id}}</p>
      Message:
      <p>{{temoignage.content}}</p>
      Note:
      <p>{{temoignage.note}}/5</p>
      Status:
      <p>{{temoignage.validated}}</p>
      (0 = pas validé)
      <div class="buttons">
        <button (click)="deleteTemoignage(temoignage.id)">Effacer</button>
        <button (click)="desactivateTemoignage(temoignage)" *ngIf="temoignage.validated">Désactiver</button>
        <button (click)="activateTemoignage(temoignage)" *ngIf="!temoignage.validated">Activer</button>

      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
